body {
  background-color: #b4aee8;
}

hr {
  border: 0;
  border-bottom: 7px dotted white;
  background: clear;
  width: 45%;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-style: italic;
  font-size: 70px;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 4px 4px 4px blue;
}

p {
  color: white;
  font-family: Helvetica;
}

h3 {
  color: white;
  font-family: Helvetica;
  text-decoration: underline;
  text-shadow: 4px 4px 4px blue;
}

table {
  font-family: Helvetica;
  color: white;
}

ol {
  font-family: Helvetica;
  color: white;
}

ul {
  font-family: Helvetica;
  color: white;
}


form {

color: white;
font-family: Helvetica;


}
